body{
    background-image: url(../img/memphis-mini.png);
    background-attachment: fixed;
    overflow:scroll;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    display: flex;
    flex-flow: column nowrap;
}
.home{
    height: 650px;
}

.jumbotron{
    background-color: white;
    border: 5px solid #34C9C9;
    margin-top: 125px;
    width: 50%;
    text-align: center;
    align-self: center;
}


.btn{
    background-color: #34C9C9;
    border: 1px solid #34C9C9;
    
}

.btn:hover{
    background-color: #414042;
    border: 1px solid #414042;
}

.info{
    display: flex;
    align-self: flex-start;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    width: auto;
}

.list-group {
    text-align: center;
    align-self: center;
}

.list-group-item {
    background-color: #34C9C9;
    color: #ffffff;
    border: 1px solid #34C9C9;
}


.fixed-bottom {
    position: relative;
}

.survey{
    height: 1650px;
    width: 70%;
}

.card{
    margin-top: 20px;
    border: none;
}

.card-body {
    border: 5px solid #34C9C9;
}
.card-title {
    font-size: 40px;
}

.card-text {
    text-align: left;
    font-size: 18px;
}

.custom-select {
    width: 200px;
    margin-top: 10px;
    border: 1px solid #34C9C9;
}

.form-control {
    width: 200px;
    font-weight: 300;
}

.form-group {
    border: none;
}

.tell-us {
    text-align: left;
    margin-bottom: 20px;
    font-size: 18px;
    
}
.modal-body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.match-pic{
    width: 200px;
    padding:10px;
}

h5, p {
    text-align: center;
}

p {
    font-weight: 300;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    margin-top: 3px;
}


.line2 {
    margin-bottom: 20px;
}

